.mainBackground {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 95vh;
    align-items: center;
    

}

.startWindow {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    background-color: rgb(242, 168, 141);
    padding: 2em;

}

.startWindow button {
    font-family: 'Trebuchet MS';
    background-color: greenyellow;
    border-radius: 5px;
}

.startWindow button a {
    text-decoration: none;
    color: black;
}

.startWindow button:hover {
    font-weight: bold;
}

html,
body {
    background-color: rgb(255, 141, 100);
}

.gameplayWindow {
    background-color: rgb(239, 238, 238);
    height: 80vh;
    width: 85vh;
    border: 5px solid black;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    
}

@media(max-width: 900px) {
    .gameplayWindow {
        width: 80%;
        height: 95vh;
    }
}

.gameplayWindow button {
    font-family: 'Trebuchet MS';
    background-color: greenyellow;
    border-radius: 5px;
    margin: 5px;
    font-size:1.3em
}

.gameplayWindow button a {
    text-decoration: none;
    color: black;
}

.gameplayWindow button:hover {
    font-weight: bold;
}

/* .buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */



.guessingWordDiv {
    margin-left: auto;
    margin-right: auto;
}

.letterButtons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: a;
    top: 30%;
}

.letterButtons button {
    width: 6vh;
}

.guessingWordDiv > span {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

#hint {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#hintText {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}
canvas {
    margin: auto ;
    display: block;
    overflow: visible;
}

#wordToGuess {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
}

#winScreen {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 141, 100);
}

#winScreen h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color: rgb(22, 134, 14);
    text-shadow: 2px 2px 2px black;
}

#loseScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 141, 100);
}

#loseScreen h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color: rgb(134, 14, 14);
    text-shadow: 2px 2px 2px black;
}

#scoreDiv {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    display: flex;
    flex-direction: col;
    justify-content: right;
    align-items: center;
    height:10%;
    margin-left: auto;
    width: 20%;
    background-color: rgb(250, 124, 78);
    padding-right: 5vh;
    padding-left: 2vh;
}

#scoreDiv #score {
    font-size: 2em;
    color: rgb(22, 134, 14);
    text-shadow: 2px 2px 2px black;
}

@font-face {
    font-family: 'scoreFont';
    src: url(https://github.com/jonas-jasul/hangman/blob/master/fonts/LcdSolid-VPzB.ttf?raw=true);
}