.mainBackground {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 97vh;
    align-items: center;
    /* position: relative; */
    overflow: hidden;

}

.startWindow {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    background-color: rgb(248, 206, 190);
    padding: 2em;
    height: 1%;
    overflow: hidden;
    width: 55vw;


}

#backButtonDiv {
    display: inline-flex;

}

#welcomeHeading {
    font-size: 1.8em;
}

#enterBtn {
    font-family: 'Trebuchet MS';
    background-color: greenyellow;
    border-radius: 5px;
    font-size: 1.8em;
}

.categoryDiv img {
    width: 10vh;
    height: 10vh;
    margin: 1vh;
}

.categoryDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-bottom: 3vh;
}

.categoryDiv div:hover {
    background-color: aliceblue;
}

.selected {
    background-color: aliceblue;
    font-weight: 900;
}

.startWindow button a {
    text-decoration: none;
    color: black;
}

.startWindow button:hover {
    font-weight: bold;
}

html,
body {
    background-color: rgb(255, 141, 100);
}

.gameplayWindow {
    background-color: rgb(239, 238, 238);
    height: 85vh;
    width: 85vh;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

@media(max-width: 900px) {
    .gameplayWindow {
        width: 80%;
        height: 95vh;
    }
}

.gameplayWindow button {
    font-family: 'Trebuchet MS';
    background-color: greenyellow;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.3em
}

.gameplayWindow button a {
    text-decoration: none;
    color: black;
}

#languageDiv {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: auto;

}

#languageDiv .languageBtn {
    margin: 2px;
    background-color: brown;
    color: white;
}

.gameplayWindow button:hover {
    font-weight: bold;
}

/* .buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */



.guessingWordDiv {
    margin-left: auto;
    margin-right: auto;
}

.letterButtons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: a;
    top: 30%;
}

.selectChooseSpan {
    text-decoration: underline;
}

/* #difficultyRange {
    
} */
.difficultyDiv {
    display: flex;
    flex-direction: row;
}

.diffDiv2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#difficultyCanvas {
    height: 3vh;
    width: 10vw;
}

#difficultyText {
    position: relative;
    font-weight: bold;
}

.letterButtons button {
    width: 6vh;
    height: 5vh;
    font-size: 1.4em;
}

.diffSlctBtn {
    margin-inline: 1vw;
}

#difficultyTextDiv {
    margin-top: 0.4vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.guessingWordDiv>span {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

#hint {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#hintText {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    margin: auto;
    display: block;
    overflow: visible;
}

#wordToGuess {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
}

#winScreen {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 141, 100);
}

#winScreen h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color: rgb(22, 134, 14);
    text-shadow: 2px 2px 2px black;
}

#correctGuessScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 141, 100);
}
#correctGuessScreen h3 {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    font-size:2em;
    text-shadow: 1px 1px 1px black;
}
#enterBtn {
    margin-top: 0vh;
}

#loseScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 141, 100);
}

#loseScreen h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color: rgb(134, 14, 14);
    text-shadow: 2px 2px 2px black;
}

#topRow {
    display: inline-flex;
    margin-bottom: 2vw;
}

#backButtonDiv #backButton {
    background-color: rgb(153, 200, 255);
}

#scoreDiv {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6vh;
    margin-left: auto;
    width: 20vh;
    background-color: rgb(250, 124, 78);
    padding-right: 5vh;
    padding-left: 1.8vw;
}

#difficultyDisplayDiv {
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
#difficultyDisplay {
    padding: 1vh;
}

.hard {
    background-color: red;
    color:white
}

.medium {
    background-color: blue;
    color:white
}
.easy {
    background-color: green;
    color: white;
}

#scoreDiv #score {
    font-size: 2em;
    color: rgb(22, 134, 14);
    font-family: 'scoreFont';
}

@font-face {
    font-family: 'scoreFont';
    src: url(../fonts/scoreFont.ttf);
}

.stopwatch {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    display: flex;
    flex-direction: col;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30vh;
    height: 5vh;
    background-color: rgb(250, 124, 78);

}

.footer {
    background-color: rgb(226, 226, 226);
    width: 100vw;
    height: 5vh;
    position: absolute;
    bottom: 0;
    display: flex;

}

.footerCont {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}